# .gitignore
bin/
uploads/videos/*
!uploads/videos/.gitkeep
database/*.sqlite
*.log
.DS_Store
Thumbs.db
.vscode/
scratch/
_backup_*/
*.sql
uploads/tmp/*
!uploads/tmp/.htaccess
assets/image/*_original_square.*
